body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdfd;
}

.container-fluid {
    padding: 0px
}

/* Header */

.band-name-top {
    font-weight: bold;
    text-align: center;
    background-color: pink;
    color: white;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Navbar */

nav {
    font-weight: bold;
}

nav ul {
    list-style: none;
    background-color: pink;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block
}

nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
    list-style: none;
}



/* Footer */

.footer {
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: pink;
    color: white;
    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Modal */


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: pink;
    border-color: pink;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: white;
    border-color: white;
    color: pink;
}
